<h2>Checkout</h2>

<form (ngSubmit)="placeOrder()" #orderForm="ngForm">

  <input name="name" [(ngModel)]="data.name" placeholder="Full Name" required>
  <input type="email" name="email" [(ngModel)]="data.email" placeholder="Email" required>
  <input type="number" name="phone" [(ngModel)]="data.phone" placeholder="Phone" required>

  <textarea name="address" [(ngModel)]="data.address" placeholder="Address"></textarea>

  <select name="city" [(ngModel)]="data.city"> 
    <option>Jaipur</option> 
    <option>Delhi</option> 
  </select>

  <input type="date" name="date" [(ngModel)]="data.date">

  <label>
    <input type="radio" name="payment" value="card" [(ngModel)]="data.payment"> Card
  </label>

  <label>
    <input type="radio" name="payment" value="upi" [(ngModel)]="data.payment"> UPI
  </label>

  <label>
    <input type="radio" name="payment" value="cod" [(ngModel)]="data.payment"> Cash on Delivery
  </label>


  <div *ngIf="data.payment === 'card'" style="display: flex; flex-direction: column; gap: 10px;">
    <input type="text" name="card" [(ngModel)]="data.card" placeholder="Card Number" required>
    <input type="text" name="expiry" [(ngModel)]="data.expiry" placeholder="Expiry Date (MM/YY)" required>
    <input type="password" name="cvv" [(ngModel)]="data.cvv" placeholder="CVV" required>
  </div>

  <div *ngIf="data.payment === 'upi'" style="display: flex; flex-direction: column; gap: 10px;">
    <input type="text" name="upi" [(ngModel)]="data.upi" placeholder="UPI ID" required>
  </div>

  <input type="file">

  <label>
    <input type="checkbox" name="terms" [(ngModel)]="data.terms" required>
    Accept Terms
  </label>

  <button type="submit" [disabled]="!orderForm.valid">
    Place Order 
  </button>

</form>